site_name: micropython-mock-machine
site_description: Mock machine module for MicroPython unit testing
site_author: Planet Innovation Pty Ltd
site_url: https://planetinnovation.github.io/micropython-mock-machine/
repo_url: https://github.com/planetinnovation/micropython-mock-machine
repo_name: planetinnovation/micropython-mock-machine
edit_uri: edit/main/docs/

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.top
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
            show_root_heading: true
            show_root_full_path: false
            show_object_full_path: false
            show_category_heading: true
            docstring_section_style: list
            merge_init_into_class: true
            filters: ["!^_"]

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html

nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Quick Start: getting-started/quickstart.md
  - User Guide:
      - Overview: guide/overview.md
      - Basic Usage: guide/basic-usage.md
      - Testing Patterns: guide/testing-patterns.md
      - Advanced Topics: guide/advanced.md
  - API Reference:
      - mock_machine: api/mock_machine.md
      - Core Classes: api/core-classes.md
      - Device Classes: api/device-classes.md
  - Examples:
      - I2C Device Testing: examples/i2c-testing.md
      - SPI Device Testing: examples/spi-testing.md
      - Pin and Interrupts: examples/pin-testing.md
      - Complete Test Suite: examples/complete-suite.md
  - Contributing: contributing.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/planetinnovation
  copyright: Copyright &copy; 2020-2024 Planet Innovation Pty Ltd